solution/Synapse/pipeline/GraphAPI_copy_test_data.json
{
	"name": "GraphAPI_copy_test_data",
	"properties": {
		"activities": [
			{
				"name": "get data for each endpoint in set 1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpointsSet1",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ingest data from url_set1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_binary1",
									"type": "DatasetReference",
									"parameters": {
										"URL": {
											"value": "@item().URL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_binary",
									"type": "DatasetReference",
									"parameters": {
										"filesystem": {
											"value": "@pipeline().parameters.sinkFilesystem",
											"type": "Expression"
										},
										"directory": {
											"value": "@{item().sinkDirectory}/@{variables('currentDateTime')}",
											"type": "Expression"
										},
										"file": {
											"value": "@item().sinkFilename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set currentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateTime",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHH-mm-ss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get data for each endpoint in set 2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get data for each endpoint in set 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpointsSet2",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ingest data from url_set2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_binary1",
									"type": "DatasetReference",
									"parameters": {
										"URL": {
											"value": "@item().URL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_binary",
									"type": "DatasetReference",
									"parameters": {
										"filesystem": {
											"value": "@pipeline().parameters.sinkFilesystem",
											"type": "Expression"
										},
										"directory": {
											"value": "@{item().sinkDirectory}/@{variables('currentDateTime')}",
											"type": "Expression"
										},
										"file": {
											"value": "@item().sinkFilename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "get data for each endpoint in set 3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get data for each endpoint in set 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpointsSet3",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ingest data from url_set3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_binary1",
									"type": "DatasetReference",
									"parameters": {
										"URL": {
											"value": "@item().URL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_binary",
									"type": "DatasetReference",
									"parameters": {
										"filesystem": {
											"value": "@pipeline().parameters.sinkFilesystem",
											"type": "Expression"
										},
										"directory": {
											"value": "@{item().sinkDirectory}/@{variables('currentDateTime')}",
											"type": "Expression"
										},
										"file": {
											"value": "@item().sinkFilename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"endpointsSet1": {
				"type": "array",
				"defaultValue": [
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Users/part-00000-cae42818-3572-4824-b396-58587ad01616-c000.json",
						"sinkDirectory": "graph_api/users",
						"sinkFilename": "part-00000-cae42818-3572-4824-b396-58587ad01616-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00000-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00000-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00001-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00001-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00002-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00002-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00003-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00003-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00004-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00004-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00005-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00005-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00006-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00006-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00007-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00007-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00008-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00008-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00009-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00009-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00010-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00010-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00011-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00011-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00012-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00012-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00013-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00013-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00014-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00014-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00015-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00015-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00016-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00016-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00017-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00017-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00018-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00018-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00019-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00019-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00020-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00020-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					}
				]
			},
			"endpointsSet2": {
				"type": "array",
				"defaultValue": [
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00021-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00021-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00022-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00022-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00023-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00023-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00024-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00024-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00025-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00025-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00026-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00026-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00027-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00027-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00028-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00028-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00029-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00029-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00030-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00030-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/M365_App_User_Detail/part-00031-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json",
						"sinkDirectory": "graph_api/m365_app_user_detail",
						"sinkFilename": "part-00031-b6c697c6-1520-4aae-9f5c-6213dff6ab0a-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00000-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00000-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00001-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00001-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00002-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00002-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00003-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00003-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00004-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00004-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00005-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00005-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00006-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00006-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00007-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00007-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00008-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00008-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00009-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00009-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					}
				]
			},
			"endpointsSet3": {
				"type": "array",
				"defaultValue": [
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00010-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00010-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00011-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00011-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00012-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00012-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00013-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00013-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00014-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00014-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00015-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00015-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00016-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00016-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00017-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00017-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00018-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00018-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00019-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00019-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00020-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00020-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00021-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00021-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00022-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00022-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00023-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00023-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00024-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00024-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00025-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00025-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00026-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00026-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00027-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00027-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00028-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00028-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00029-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00029-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00030-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00030-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					},
					{
						"URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Microsoft_Data/Microsoft_Graph/test_data/GraphAPI/Teams_Activity_User_Detail/part-00031-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json",
						"sinkDirectory": "graph_api/teams_activity_user_detail",
						"sinkFilename": "part-00031-bd366e94-d20e-4e81-b4ba-47b15889b4a9-c000.json"
					}
				]
			},
			"sinkFilesystem": {
				"type": "string",
				"defaultValue": "stage1np"
			},
			"timezone": {
				"type": "string",
				"defaultValue": "Central Standard Time"
			}
		},
		"variables": {
			"currentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Graph API Module/Extracts"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-20T00:26:33Z"
	}
}